:root {
  --card-background: hsl(235, 56%, 23%);
  --main-background: hsl(0, 0%, 96%);
  --text: hsl(0, 100%, 87%);
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jost", sans-serif;
}

.main-faq-container {
  background-color: var(--card-background);
  color: var(--text);
  width: 70%;
  max-width: 100rem;
  min-height: 50rem;
  display: flex;
  justify-content: space-evenly;
  padding: 2.8rem 0;
}

.title {
  /* background-color: brown; */
  max-width: 25rem;
}

.title h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

.faq-container{
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
}

.faq {
  /* background-color: cornflowerblue; */
  max-width: 40rem;
  max-height: 10rem;
  border-bottom: 2px solid #373788c0;
  cursor: pointer;
  
}

.question {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.question p,
.add-icon {
  font-size: 1.8rem;
  font-weight: 500;
}

.answer{
  max-height: 0;
  overflow: hidden;
}

.answer p{
  padding: .5rem 1.8rem;
  font-size: 1.4rem;
  line-height: 1.6;

}

.faq.active .answer{
  max-height: 10rem;
}